.ZJY_StatusBar {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 44px;
  opacity: 1;
}
.ZJY_SearchBar {
  color: #fff;
  left: 0px;
  // top: 44px;
  width: 100%;
  height: 44px;
  opacity: 1;
  background-color: #00000000;
  box-shadow: none;
}
